{% extends "base.html" %}

{% block title %}Forgot Password - YC Startup School{% endblock %}

{% block heading %}Forgot your password?{% endblock %}

{% block content %}
<p>Enter your email address to reset your password.</p>

<form method="POST">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
        {{ form.email(placeholder=" ") }}
        {{ form.email.label }}
    </div>

    {{ form.submit(class="button") }}
</form>
{% endblock %}

{% block footer %}
<p class="login-link">
    Remember your password? <a href="{{ url_for('signin') }}">Log in here</a>.
</p>
{% endblock %}

